@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Rubik Bold';
  src: url(../fonts/Rubik/static/Rubik-ExtraBold.ttf);
}

@font-face {
  font-family: 'Ysabeau';
  src: url(../fonts/Ysabeau_Infant/static/YsabeauInfant-ExtraBold.ttf);
}

body {
  background-color: #000;
  font-family: 'Rubik';
  color: #fff;
  margin: 0;
  background-image: url(../images/pattern1.png);
}

body::after {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  z-index: 999999999;
  -webkit-animation: body-animate 20s ease;
          animation: body-animate 20s ease;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  padding: 0.5rem 0;
}

.navigation div:first-child h3 {
  font-family: 'Rubik Bold';
  opacity: 0.8;
  font-size: 1vw;
  margin: 0;
}

.navigation div:last-child {
  margin: auto 0 auto auto;
}

.navigation div:last-child a {
  display: inline-block;
  color: #fff;
  padding: 0 0.5rem;
  text-decoration: none;
  font-family: 'Rubik Bold';
  opacity: 0.8;
  font-size: 1vw;
}

section.banner {
  position: relative;
  overflow: hidden;
}

section.banner img.bg {
  -webkit-animation: fade-in-down 1s ease;
          animation: fade-in-down 1s ease;
  margin-top: -10%;
  position: relative;
  rotate: 180deg;
  width: 100%;
  z-index: 5;
}

section.banner img.profile {
  width: 100%;
  -webkit-animation: profile-fade-in-down 0.4s ease;
          animation: profile-fade-in-down 0.4s ease;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 250px;
  -o-object-position: top;
     object-position: top;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0 4px 10px 6px #000;
          box-shadow: 0 4px 10px 6px #000;
}

section.banner .text-content {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f51b5), to(transparent)), url(../images/pattern1.png), #0000 url(../images/profile-bw.webp) repeat 50% 64%;
  background: linear-gradient(180deg, #3f51b5, transparent), url(../images/pattern1.png), #0000 url(../images/profile-bw.webp) repeat 50% 64%;
}

section.banner .text-content h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3vw;
  -webkit-text-stroke-color: #fff;
  font-size: 6.8vw;
  font-style: italic;
  line-height: 0;
  font-family: 'Rubik Bold';
  white-space: nowrap;
}

section.banner .text-content h1:first-child {
  margin-top: 2vw;
  -webkit-animation: fade-in-down 2.5s ease;
          animation: fade-in-down 2.5s ease;
}

section.banner .text-content h1:nth-child(2) {
  -webkit-animation: fade-in-down 1.5s ease;
          animation: fade-in-down 1.5s ease;
  margin-left: 5vw;
}

section.banner .text-content h1:last-child {
  white-space: nowrap;
  -webkit-animation: fade-in-down 0.5s ease;
          animation: fade-in-down 0.5s ease;
}

section.banner .bottom {
  z-index: 9999999999;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.banner .bottom div {
  padding: 1rem;
  position: relative;
}

section.banner .bottom div#first {
  -webkit-animation: bottom-animate-first 2s forwards;
          animation: bottom-animate-first 2s forwards;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  opacity: 0;
}

section.banner .bottom div#first h4 {
  font-size: 2vw;
  font-family: 'Rubik Bold';
  color: #3f51b5;
  margin: 0;
}

section.banner .bottom div#second {
  -webkit-animation: bottom-animate-second 5s forwards;
          animation: bottom-animate-second 5s forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  opacity: 0;
}

section.banner .bottom div#second ul {
  list-style: none;
  position: relative;
  overflow: hidden;
}

section.banner .bottom div#second ul li {
  font-size: 3vw;
  font-family: 'Rubik Bold';
  text-align: right;
  position: relative;
  overflow: hidden;
  -webkit-transform: rotate3d(1, 3, 1, 0deg);
          transform: rotate3d(1, 3, 1, 0deg);
  -webkit-animation: li-animate 5s ease;
          animation: li-animate 5s ease;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

section.banner .bottom div h1 {
  font-family: 'Rubik Bold';
  font-size: 3vw;
  margin: 0;
  text-shadow: -4px 0px black;
}

section.banner .bottom div p {
  font-size: 1.2vw;
}

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes profile-fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes profile-fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottom-animate-first {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  90% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@keyframes bottom-animate-first {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  90% {
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
  95% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@-webkit-keyframes li-animate {
  0% {
    -webkit-transform: rotate3d(1, 3, 1, 95deg);
            transform: rotate3d(1, 3, 1, 95deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 3, 1, 0deg);
            transform: rotate3d(1, 3, 1, 0deg);
  }
}

@keyframes li-animate {
  0% {
    -webkit-transform: rotate3d(1, 3, 1, 95deg);
            transform: rotate3d(1, 3, 1, 95deg);
  }
  100% {
    -webkit-transform: rotate3d(1, 3, 1, 0deg);
            transform: rotate3d(1, 3, 1, 0deg);
  }
}

@-webkit-keyframes bottom-animate-second {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) scale(0.1);
            transform: translateX(50%) scale(0.1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@keyframes bottom-animate-second {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) scale(0.1);
            transform: translateX(50%) scale(0.1);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
            transform: translateX(0%) scale(1);
  }
}

@-webkit-keyframes body-animate {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  3% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes body-animate {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  3% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */