@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(/fonts/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'Victor Mono';
  src: url(/fonts/Victor_Mono/static/VictorMono-Regular.ttf);
}

@font-face {
  font-family: 'Ysabeau Infant';
  src: url(/fonts/Ysabeau_Infant/static/YsabeauInfant-Regular.ttf);
}

body{
  background-color: #dedede;
  font-family: 'Rubik';
  margin:0;
  padding:0;
}

header{
  background-image: linear-gradient(45deg, #955592 30%, #181818 30%);
  box-shadow: 0 5px 10px rgba(154, 161, 177, 0.1);
  &::after{
    content: '';
    width: 30%;
    border-bottom: 3px solid #fbcc56;
    position: absolute;
    left: 0;
  }
  .navigation{
    display: grid;
    grid-template-columns: 1fr 3fr;
    div{
      &:last-child{
        vertical-align: middle;
        margin: auto 0 auto auto;
        a{
          display: inline-block;
          color: #fbc950;
          text-decoration: none;
        }
      }
    }
  }
}

.container{
  width: 1240px;
  margin: 0 auto;
}

img{
  &.profile-pic{
    height: 220px;
    width: 220px;
    object-fit: cover;
  }
}