
body{
overflow:hidden;
}
.mobile-menu{
display:none;
}
.mobile-close{
display:none;
}
.profile_img{
 width:500px; 
 height:500px;
}
.font{
 font-family:fantasy;
 letter-spacing:1px;
}
.first_content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    width: 100%!important;
    height: 100vh!important;
    overflow: hidden;
}
.container-fluid {
    position: relative;
    width: 100%!important;
    height: 100vh!important;
    overflow: hidden;
}
ul.menu li {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    font-family: fantasy;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    cursor: pointer;
}
ul.menu {
    list-style: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 20%;
    background: #000;
    height: 100%;
}
ul.menu li:nth-child(1) {
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
  ul.menu {
    width:100%;
    left:-1000px;
  }
 .profile_img{
  width:200px; 
  height:200px;
}
 .first_content{
 left:50%;
 width:100%;
 }
 .mobile-menu {
    position: absolute;
    color: #000!important;
    font-size: 33px;
    top: 4%;
    right: 5%;
  z-index:9;
  display:block;
}
 .close-menu {
    border: 1px solid #fff;
    position: absolute;
    z-index: 9;
    font-size: 30px;
    padding: 0px 13px 5px 13px;
    color: #fff;
    top: 5%;
    right: 2%;
}
}
