
body{
overflow:hidden;
}
.font{
 font-family:fantasy;
 letter-spacing:1px;
}
.first_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: relative;
    width: 100%!important;
    height: 100vh!important;
    overflow: hidden;
}
ul.menu li {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    font-family: fantasy;
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    cursor: pointer;
}
ul.menu {
    list-style: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 10%;
    background: #000;
    height: 100%;
}
ul.menu li:nth-child(1) {
    margin-top: 50px;
}
